<article [routerLink]="['./details']">
  <div class="details">
    <h2 class="title">{{BlogItem.title}}</h2>
  </div>
  <div class="actions">
    <div class="icons has-background-info has-text-white" [routerLink]="['add', BlogItem._id]" q>
      <i class="fa fa-pencil"></i>
    </div>
    <div class="icons has-background-danger has-text-white" (click)="deleteItem($event)">
      <i class="fa fa-trash"></i>
    </div>
  </div>

  <!-- <p>{{BlogItem.smalldesc}}</p>
  <p>{{BlogItem.desc}}</p> -->
  <!-- <div class="tags">
    <p class="tag" *ngFor="let tag of BlogItem.tags">{{tag}}</p>
  </div> -->
</article>
