<div class="ae-form">
  <form [formGroup]="newForm" (ngSubmit)="submit()">
    <label for="title">Title</label>
    <input name="title" class="input" type="text" formControlName="title" placeholder="e.g. Title">
    <label for="smallDesc">Small Description</label>
    <textarea name="smallDesc" class="textarea" placeholder="This will be visible in description of your post"
      formControlName="smallDesc"></textarea>
    <label for="description">Description</label>
    <textarea name="description" class="textarea" placeholder="e.g. Hello world"
      formControlName="description"></textarea>
    <span>
      <input type="submit" class="button is-primary" value="Dew It" [disabled]="!newForm.valid">
    </span>
  </form>
</div>
