<div class="ae-form">
  <form [formGroup]="newForm" (ngSubmit)="submit()">
    <label>Title</label>
    <input class="input" type="text" formControlName="title" placeholder="e.g. Title">
    <!-- <label>Description</label>
    <textarea class="textarea" placeholder="e.g. Hello world" formControlName="description"></textarea> -->
    <label>Priority</label>
    <!-- <span>
      <div class="select">
        <select formControlName="priority">
          <option selected disabled value="null">Select one</option>
          <option *ngFor="let item of priority" [value]="item.val">{{item.text}}</option>
        </select>
      </div>
    </span> -->
    <!-- <span>
      <label class="checkbox">
        Completed
        <input type="checkbox" formControlName="completed" [checked]="newForm.value.isCompleted">
      </label>
    </span> -->
    <span>
      <input type="submit" class="button is-primary" value="Dew It" [disabled]="!newForm.valid">
    </span>
  </form>
</div>
