<div class="container">
  <form class="default-card" autocomplete="off">
    <h3>Login</h3>
    <div class="form-fields">
      <label for="username">Username</label>
      <input class="input" type="text" name="username">
    </div>
    <div class="form-fields">
      <label for="password">Password</label>
      <input class="input" type="password" name="password">
    </div>
    <button class="button is-primary">Login</button>
    <span class="not-link">Don't have an account? What you waiting for? <a class="link" [routerLink]="['login']">Click
        here</a></span>
  </form>
</div>
