nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: transparent;
  transition: 200ms ease-in-out;
  h1 {
    font-size: 1.6rem;
    font-weight: 400;
    cursor: default;
  }
  &:hover {
    background-color: #fff;
  }
}
