/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Raleway&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  font-family: "Raleway", sans-serif !important;
  background: #f6f4f7;
}

form {
  display: flex;
  flex-direction: column;
  // width: 80%;
  gap: 10px;
  .input,
  .textarea,
  select,
  .button {
    border-radius: 0;
    border: 0;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.default-card {
  flex-basis: 450px;
  margin: 0 clamp(20px, 50px, 5%);
}

.not-link {
  color: #00000060;
}
.link {
  color: #000;
  text-decoration: none;
  &:active {
    color: #000;
  }
  &:hover {
    color: #00d1b2;
  }
}
